<div class="container">
    <div class="container">
        <div class="card center" style="width: 28rem;">
            <img class="card-img-top" src="../../../assets/family.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> <b> Name: </b> Elshan Gadimov</p>
              <p class="card-text"> <b> Neptun: </b> OV7MIK</p>
              <p class="card-text"> <b> Email: </b> elshanqadimov7@gmail.com</p>
            </div>
          </div>
    </div>
</div>